@model MovieReviewViewModel
@{
    Layout = "User_Layout";
    ViewData["Title"] = "Search";
}

<style>
    body {
        background-color: black;
        color: white;
    }

    .movie-item {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .movie-title {
        color: white;
        text-decoration: none;
    }
</style>

<div>
    <input type="text" id="searchBox" placeholder="제목을 입력해주세요." class="underline-input" style="background-color: black; color: white; width: 90%;" />
    <button id="searchButton" class="btn btn-light">Search</button>
</div>
<br />

@if (Model.Movies != null && Model.Movies.Any())
{
    <h2 style="font-size: 20px">검색결과</h2>
    <br />
    <div class="d-flex flex-wrap">
        @foreach (var movie in Model.Movies)
        {
            <div class="movie-item">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(movie.Picture)" alt="Movie Image" width="200" height="200" />
                <br />
                <br />
                <a asp-action="Detail" asp-route-title="@movie.Title" class="movie-title">@movie.Title</a>
            </div>
        }
    </div>
}
else
{
    <p>No matching movies found.</p>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchButton").on("click", function () {
                // 검색어 입력 상자에서 검색어를 가져옴
                var searchText = $("#searchBox").val().toLowerCase();

                // 모든 영화 아이템 숨김
                $(".movie-item").hide();

                // 검색어와 일치하는 항목을 보여줌
                $(".movie-title").filter(function () {
                    return $(this).text().toLowerCase().indexOf(searchText) > -1;
                }).closest(".movie-item").show();
            });
        });
    </script>
}